meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{title}

if mode === 'production'
	meta(name="theme-color" content="#fff")
	meta(name="Description" content="Toptal is an exclusive network of the top freelance software developers, designers, finance experts, product managers, and project managers in the world.")
	link(rel="icon" type="image/png" sizes="120x120" href=require('../img/favicon/favicon-120x120.png'))