section.advantages-why
    .container
        .advantages-why__inner
            .section-head.advantages-why__head
                h2.section-head__title Why Didit?
                p.section-head__desc.
                    Many companies — both large and small — face challenges with
                    finding top talent, from candidate qualifications, to team dynamics,
                    to economics that fit their financial scale. Our unique solution for hiring
                    elite independent contractors addresses all of these concerns.

            .advantages-why__table-wrapper
                .advantages-why__table-content
                    table.advantages-why__table.advantages-table
                        tr
                            th
                            th
                                svg.advantages-table__logo
                                    use( xlink:href=require('../../img/icons/logo.svg') + '#ico' )
                            th Typical Empoyment
                            th Virtual Platforms*

                        tr
                            td Time to find a Toptailer
                            td 0-3 weeks
                            td 1-4 Months
                            td 1-4 Months

                        tr
                            td Recruiting Fee
                            td $0
                            td $10-40
                            td $0

                        tr
                            td Quality Guarantee
                            td
                                svg.advantages-table__icon
                                    use( xlink:href=sprite('check-success') )
                            td
                                 svg.advantages-table__icon
                                    use( xlink:href=sprite('check-fail') )
                            td
                                 svg.advantages-table__icon
                                    use( xlink:href=sprite('check-fail') )

                        tr
                            td Failure Rate
                            td Very Low
                            td Low
                            td Very High

                        tr
                            td Pre-Screened Candidates
                            td
                                svg.advantages-table__icon
                                    use( xlink:href=sprite('check-success') )
                            td
                                 svg.advantages-table__icon
                                    use( xlink:href=sprite('check-fail') )
                            td
                                 svg.advantages-table__icon
                                    use( xlink:href=sprite('check-fail') )

                        tr
                            td Termination Costs
                            td None
                            td Very High
                            td None

            .advantages-why__upwork *Upwork, Guru.com etc.


            .advantages-why__lists
                .advantages-why__list.advantages-list
                    h5.advantages-list__title The Qualifications of Our Talent

                    .advantages-list__items
                        .advantages-list__item
                            h6 Role-Specific Quality
                            p.
                                Didits’ have a tried and tested track record of brilliance.
                                We match your company with talent that have extensive experience
                                relevant to the role you’re trying to fill.

                        .advantages-list__item
                            h6 Overall Quality
                            p.
                                Beyond their brilliant technical capabilities, Toptalers are also
                                screened on their soft skills including attitude, ethical values,
                                energy, education, and English proficiency. We want to ensure they’re
                                amazing teammates, not just amazing workers.

                        .advantages-list__item
                            h6 Role-Specific Quality
                            p.
                                Every time you work with a new Toptal freelancer, you will have a trial period
                                to decide whether they meet your needs. If you don’t find them to be extraordinary,
                                you will not be charged (and you can even keep any work completed during the trial).

                .advantages-why__spliter

                .advantages-why__list.advantages-list
                    h5.advantages-list__title Your Team Dynamics

                    .advantages-list__items
                        .advantages-list__item
                            h6 Quick Team Ramp-Up
                            p.
                                Toptalers are well-versed in a variety of project management and collaboration tools.
                                They have the ability to smoothly and quickly adapt to those used by your company—even if they’re obscure.

                        .advantages-list__item
                            h6 Painless Communication
                            p.
                                Our talent have proven experience in their functional areas and can convey complex concepts clearly to all stakeholders.

                        .advantages-list__item
                            h6 Reliability & Flexibility
                            p.
                                Although we hope you work with our talent long-term, you can scale your Toptal
                                team up or down within a matter of weeks, not months or years. We have worked with
                                companies to build their initial teams, fill positions for specific projects, and
                                expand team capabilities during “crunch-times”.

                .advantages-why__spliter

                .advantages-why__list.advantages-list
                    h5.advantages-list__title Your Bottom-line Financials

                    .advantages-list__items
                        .advantages-list__item
                            h6 Simple, Cost-Effective Pricing
                            p.
                                We give you great value for access to our talent. We have saved client companies upward
                                of $1 million per year. Our pricing is straight-forward — work with Toptalers hourly, part-,
                                or full- time for a fixed price on a weekly basis. No hidden fees.

                        .advantages-list__item
                            h6 Additional Savings
                            p.
                                Beyond our competitive weekly pricing, with Toptal you don’t have to worry about benefits,
                                stock options, vacation time, unemployment, termination hassle, paperwork, recruiting time and
                                expenses, etc. We take care of those details.

                        .advantages-list__item
                            h6 Team Value
                            p.
                                Company value — especially for start-ups — is largely impacted by your ability to build an
                                amazing team and product. Unfortunately, putting together a great team to build a great product
                                takes substantial amounts of time and money.