section.banner
    .container
        .banner__inner
            .section-head.section-head_white.banner__head
                h2.section-head__title Let’s Work Together

            .banner__buttons
                a( href="#" data-toggle="modal" data-target="#modal-freelancer" ).banner__button.btn.btn-while-outline Apply as a Freelancer
                a( href="#" data-toggle="modal" data-target="#modal-talent" ).banner__button.btn.btn-while-outline Hire Top Talent
