section.banner
    .container
        .banner__inner
            .section-head.banner__head
                h2.section-head__title Let’s Work Together

            .banner__buttons
                .banner__button.btn.btn-while-outline Apply as a Freelancer
                .banner__button.btn.btn-while-outline Hire Top Talent
