section.services
    .container
        .services__inner
            img.services__dots-top( src=require('../../img/image-dotes.png') alt="")
            img.services__dots-bottom( src=require('../../img/image-dotes.png') alt="")

            .section-head.services__head
                h2.section-head__title Leverage World-Class Talent
                p.section-head__desc.
                    We are the largest, globally-distributed network of top business, design,
                    and technology talent, ready to tackle your most important initiatives.

            ul.services__list

                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-developer') )

                            h3.service__title Developers

                        p.service__desc Seasoned software engineers, coders, and architects with expertise across hundreds of technologies.

                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-design') )

                            h3.service__title Design

                        p.service__desc UI, UX, Visual, and Interaction designers as well as a wide range of illustrators, animators, and more.

                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-finance') )

                            h3.service__title Finance Experts

                        p.service__desc Experts in financial modeling & valuation, startup funding, interim CFO work, and market sizing.


                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-project-managers') )

                            h3.service__title Project Managers

                        p.service__desc Digital and technical project managers, scrum masters, and more with expertise in numerous PM tools, frameworks, and styles.

                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-product-managers') )

                            h3.service__title Product Managers

                        p.service__desc Digital product managers, scrum product owners with expertise in numerous industries like banking, healthcare, ecommerce, and more.

                li.service
                    .service__inner
                        .service__head
                            svg.service__icon
                                use( xlink:href=sprite('service-projects') )

                            h3.service__title Didit® Projects

                        p.service__desc Didit Project Consultants assemble managed teams of seasoned experts for your most urgent business needs.
