section.instruction
    .container
        .instruction__inner
            picture
                source( srcset=require('../../img/icons/dots-xl.svg') media="(min-width: 1440px)" )
                img.instruction__dots( src=require('../../img/icons/dots.svg') alt="")

            .section-head.instruction__head
                h2.section-head__title Hiring Made Easy

            ul.instruction__list

                li.instruction-item
                    .instruction-item__inner

                        .instruction-item__name 01. Signup

                        h4.instruction-item__title Talk to One of Our Industry Experts

                        span.instruction-item__line

                        p.instruction-item__desc An expert on our team will work with you to understand your goals, technical needs, and team dynamics.


                li.instruction-item
                    .instruction-item__inner

                        .instruction-item__name 02. Find

                        h4.instruction-item__title Work With Hand-Selected Talent

                        span.instruction-item__line

                        p.instruction-item__desc Within days, we'll introduce you to the right talent for your project. Average time to match is under 24 hours.

                li.instruction-item
                    .instruction-item__inner

                        .instruction-item__name 03. Work

                        h4.instruction-item__title The Right Fit, Guaranteed

                        span.instruction-item__line

                        p.instruction-item__desc Work with your new team member on a trial basis (pay only if satisfied), ensuring you hire the right people for the job.
