section.intro
    .container.intro__container
        .intro__inner
            .intro__image-title
                img( src=require('../../img/intro-image.png') alt="" )

            .intro__image-dots
                img( src=require('../../img/image-dotes.png') alt="" )

            .intro__content
                h1.intro__title <span>Hire the Best of </span>  <span> Freelance Talent</span>

                p.intro__desc Toptal is an exclusive network of the top freelance software developers, designers, finance experts, product managers, and project managers in the world.

                a( href="#" data-toggle="modal" data-target="#modal-talent" ).btn.btn-primary Hire Top Talent
