section.advantages
    .container
        .advantages__inner
            .section-head.advantages__head
                h2.section-head__title Build Amazing Teams, On Demand

            ul.advantages__list

                li.advantage
                    .advantage__inner
                        svg.advantage__icon
                            use( xlink:href=sprite('advantage-quickly') )
                        h4.advantage__title Hire Quickly
                        p.advantage__desc Hire in under 48 hours. Scale up or down, no strings attached. We offer flexible engagements from hourly to full-time.

                li.advantage
                    .advantage__inner
                        svg.advantage__icon
                            use( xlink:href=sprite('advantage-target') )
                        h4.advantage__title The Top 3%
                        p.advantage__desc Every applicant to the Toptal network is rigorously tested and vetted. Our highly selective process leads to a 98% trial-to-hire success rate.

                li.advantage
                    .advantage__inner
                        svg.advantage__icon
                            use( xlink:href=sprite('advantage-brain') )
                        h4.advantage__title Leading the Future of Work
                        p.advantage__desc Our network is ready for tomorrow's business challenges by embracing advanced and specialized skills including blockchain and AI.

                li.advantage
                    .advantage__inner
                        svg.advantage__icon
                            use( xlink:href=sprite('advantage-level-above') )
                        h4.advantage__title A Level Above
                        p.advantage__desc Every single freelancer in our global network embodies the highest levels of integrity, professionalism, and communication.