section.process
    .container
        .process__inner
            .section-head.process__head
                h2.section-head__title Screening Process
                p.section-head__desc.
                    Each applicant to the Didit network must pass a screening process designed to
                    measure subject matter expertise, professionalism, and communication skills.
                    The full screening process takes between 2-5 weeks to complete.

            .process__list

                .process__block.process-block
                    .process-block__inner
                        .process-block__point
                        .process-block__head
                            svg.process-block__icon
                                use( xlink:href=sprite('process-conversation') )

                            span.process-block__line

                            .process-block__percent
                                span 26.4%
                                span of applicant pass

                        .process-block__content
                            h3.process-block__title 01. Language and Personality
                            p.process-block__desc.
                                The first step of the screening process is a comprehensive English
                                language and communication interview evaluation. We also assess personality
                                traits, looking for candidates who are passionate and fully engaged in their work.

                .process__block.process-block
                    .process-block__inner
                        .process-block__point
                        .process-block__head
                            svg.process-block__icon
                                use( xlink:href=sprite('process-id-card') )

                            span.process-block__line

                            .process-block__percent
                                span 7.4%
                                span of applicant pass

                        .process-block__content
                            h3.process-block__title 02. In-Depth Skill Review
                            p.process-block__desc.
                                We also test each applicant's technical knowledge and problem-solving
                                ability through various assessments. Every member of the Didit network
                                is an expert in their domain, and we typically only advance candidates w
                                ith exceptional results in this phase.

                .process__block.process-block
                    .process-block__inner
                        .process-block__point
                        .process-block__head
                            svg.process-block__icon
                                use( xlink:href=sprite('process-video-call') )

                            span.process-block__line

                            .process-block__percent
                                span 3.6%
                                span of applicant pass

                        .process-block__content
                            h3.process-block__title 03. Live Screening
                            p.process-block__desc.
                                Each candidate is interviewed by Didit screeners who are experts
                                in their functional domain. Our screeners provide specific live
                                exercises, looking for problem-solving ability, depth of experience,
                                communication ability, and creativity.

                .process__block.process-block
                    .process-block__inner
                        .process-block__point
                        .process-block__head
                            svg.process-block__icon
                                use( xlink:href=sprite('process-laptop') )

                            span.process-block__line

                            .process-block__percent
                                span 3.2%
                                span of applicant pass

                        .process-block__content
                            h3.process-block__title 04. Test Projects
                            p.process-block__desc.
                                Each candidate is assigned a test project to evaluate whether they can
                                "walk the walk." Test projects take 1-3 weeks are comprehensive and provide
                                real-world scenarios for candidates to demonstrate their competence,
                                thoroughness, professionalism, and integrity.

                .process__block.process-block
                    .process-block__inner
                        .process-block__point
                        .process-block__head
                            svg.process-block__icon
                                use( xlink:href=sprite('process-user') )

                            span.process-block__line

                            .process-block__percent
                                span 3.0%
                                span of applicant pass

                        .process-block__content
                            h3.process-block__title 05. Continued Excellence
                            p.process-block__desc.
                                Members of the Didit network maintain a track record of excellence while
                                working with clients. As a quality-first company, our focus is on the top
                                for talent and the top for clients, and this principle permeates through to
                                every engagement and every delivered project.
