.services
  margin-top: 100px
  padding-bottom: 100px
  overflow: hidden

  &__inner
    position: relative

  &__dots-top,
  &__dots-bottom
    position: absolute
    max-width: unset
    opacity: .7
    z-index: -1

  &__dots-top
    width: 700px
    top: -30px
    right: 0
    transform: translateX(25%)

  &__dots-bottom
    width: 500px
    bottom: -8%
    left: -68%

  &__head
    margin-bottom: 80px

  &__list
    display: grid
    grid-template-columns: 1fr
    grid-column-gap: 20px
    grid-row-gap: 20px


@include media-md-min
  .services
    &__list
      grid-template-columns: 1fr 1fr

    &__dots-bottom
      bottom: -20%
      left: -28%

@include media-lg-min
  .services
    margin-top: 140px
    padding-bottom: 140px

    &__head
      margin-bottom: 100px

    &__list
      grid-row-gap: 40px
      grid-column-gap: 40px

    &__dots-top
      transform: translateX(15%)

    &__dots-bottom
      bottom: -25%
      left: -20%


@include media-xl-min
  .services
    margin-top: 155px

    &__list
      grid-template-columns: 1fr 1fr 1fr

    &__dots-bottom
      bottom: -23%
      left: -10%


@import "home-2-services/service"
