.reviews
  padding-top: 110px
  margin-bottom: 100px

  &__container
    position: relative

  &__dots
    position: absolute
    top: -47%
    left: -16%
    max-width: 910px
    z-index: -1
    opacity: .8

  &__inner
    overflow: hidden

  &__head
    margin-bottom: 95px

  &__slider

    &-wrapper > div
      height: auto

    &-arrows
      justify-content: flex-end
      margin-bottom: 65px

    &-pagination
      margin-top: 35px

@include media-xl-max
  .reviews
    &__dots
      top: -25%
      left: -40%
      max-width: 816px

@include media-lg-max
  .reviews
    &__dots
      max-width: 710px

    &__slider
      overflow: unset

      &-arrows
        display: none

@include media-md-max
  .reviews
    &__dots
      top: -5%
      left: -65%
      max-width: 500px

    &__head
      margin-bottom: 90px

@include media-lg-min
  .reviews
    padding-top: 140px
    margin-bottom: 130px

    &__head
      margin-bottom: 60px


@import "home-7-reviews/review"
