extends layout/default

block title
    title Didit - About us

block content
    section.about
        .container
            .about__inner
                .section-head.about__head
                    h2.section-head__title About Us

                .about__content
                    p.
                        With easy access to Broadband and DSL the number of people using
                        the Internet has skyrocket in recent years. Email, instant messaging
                        and file sharing with other Internet users has also provided a platform
                        for faster spreading of viruses, Trojans and Spyware. Being on the Internet
                        without proper protection is like walking in the rain with no umbrella –
                        you’re gonna get wet no matter how fast you run. With so many computers installed
                        in home offices it becomes critical that home users install the latest Microsoft
                        patches when they become available. Older operating systems like Windows 98, Windows
                        Millennium, Windows 2000, or Windows XP prior to Service Pack require the user to initiate
                        the process of checking for security patches. Windows XP Service Pack 2 has changed this and
                        the default settings are now notifying the user of available updates automatically. This has
                        increased the level of security in some areas, but there is a very large number of users and
                        computers that do not install security patches or hot fixes provided by Microsoft.


    include sections/banner
