extends layout/default

block title
    title Didit

block content
    include sections/home-1-intro
    include sections/home-2-services
    include sections/home-3-advantages
    include sections/home-4-instruction
    include sections/home-5-team
    include sections/home-6-banner
    include sections/home-7-reviews
