.btn
  transition: all .3s
  display: inline-block
  font-family: 'Gilroy', sans-serif
  font-weight: 500
  line-height: 24px
  border: none
  outline: none
  background: none
  cursor: pointer

.btn-primary
  padding: 15px 35px
  background: $color-primary
  color: #ffffff
  border-radius: 2px

.btn-secondary
  padding: 11px 22px
  background: #EFEBF5
  border-radius: 2px
  color: #000

.btn-link
  color: $color-primary