.checkbox
  font-size: 15px

  label
    display: flex
    align-items: center

  &__box
    transition: border-color .3s
    display: flex
    align-items: center
    justify-content: center

    width: 20px
    height: 20px
    min-width: 20px
    min-height: 20px
    margin-right: 12px
    border: 1px solid #F4F4F4
    border-radius: 2px

    svg
      transition: opacity .3s
      opacity: 0
      fill: $color-primary
      width: 10px
      height: 8px

  input:checked + &__box
    border-color: $color-primary

    svg
      opacity: 1

  a
    color: $color-primary